<h1>My Inbox</h1>
<ul>
<% @message_items.each do |item| %>
  <% sender = item[:sender]
     receiver = item[:receiver]
	 message = item[:message]
	 timestamp = item[:timestamp] %>

  <li>
	<div>Sender: <%= sender.username %></div>
	<div>Receiver: <%= receiver.username %></div>
	<div>Content: <%= message.content %></div>
	<div>Timestamp: <%= timestamp %></div>
  </li>
<% end %>
</ul>
