<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?" onkeyup="search();" autofocus>
        <div id="results"></div>
        <div id="suggested"></div>

        <div id="friends-panel" class="no_display">
            <h4>Friends who also <span class="activity_header">""</span></h4>
            <div id="friends-list"></div>
        </div>
    </div>
    <div id="right-panel">
        <div id="graph" class="no_display">
            <img src="http://www.ebrueggeman.com/sites/www.ebrueggeman.com/files/images/example_graph_1.png" alt="sample-graph">
            <h3 class="activity_header"><b>""</b></h3>
        </div>
        <div id="new-activity" class="no_display">
            <form class="activity-form">
                <h3>Track a new activity!</h3>
                <p>How do you want to record <span class="activity_header">""</span>?</p>
                <p>Users most commonly store <span class="activity_header">""</span> by: lbs.</p>
                <input class="measurements" type="text" name="measure1" placeholder="lbs."><br>
                <input class="measurements no_display" type="text" name="measure2" placeholder="lbs." id="second_measurement"><br>
                <button type="button" id="add_new_measurement_button" onclick="add_measurement_form()">Add Another Measurement</button>
                <button type="button" id="commit_new_measurement_button" onclick="commit_new_measurement_form()">Submit</button>
            </form>
        </div>
        <div id="add-activity" class="no_display">
            <form class="activity-form">
                <h3>Track Your Recent Activity</h3>
                Measurement 1: <input class="measurements" type="text" name="measure1" placeholder="125lbs."><br>
                Measurement 2: <input class="measurements" type="text" name="measure2" placeholder="300pgs"><br>
            </form>

            <%= render 'shared/goal_form' %>
        </div>
    </div>
</div>
