<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?" autofocus autocomplete="off">
        <script type="text/javascript">
            document.getElementById('search').onkeyup = function(e) {
                if (!e) e = window.event;
                var keyCode = e.keyCode || e.which;
                if (keyCode == '13' && document.getElementById('search').value.trim() != ""){ // Enter pressed
                    console.log('entered pressed');
                    pickIfMatching();                  
                } else {
                    console.log('search now');
                    search(keyCode == '13');
                }
            }
        </script>
        <div id="results"></div>
        <!-- <div id="suggested"></div> -->

        <div id="friends-panel" class="no_display">
            <h4>Friends who also <span class="activity_header"></span></h4>
            <div id="friends-list"></div>
        </div>
    </div>
    <div id="right-panel">
        <div id="graph_box" class="no_display">
            <div id="activity_chart" style="width:560px; height:300px; margin: 0 auto"></div>
            <!-- <h3 class="activity_header"><b></b></h3> -->
        </div>
        <div>
            <form class="activity_form no_display" id="new_activity">
                <h3>Track a new activity!</h3>
                <p>How do you want to measure <span class="activity_header"></span>?</p>
    <!--             <p>Users most commonly store <span class="activity_header"></span> by: lbs.</p> -->
                <p>If you don't need to track anything specific about <span class="activity_header"></span>, please leave the field blank.</p>
                <input class="measurements" type="text" name="measure1" placeholder="first measurement" autocomplete="off"><br>
                <input class="measurements no_display" type="text" name="measure2" id="second_measurement" placeholder="second measurement" autocomplete="off">
                <button type="button" id="add_new_measurement_button" onclick="add_measurement_form()">Add Another Measurement</button>
                <button type="button" id="commit_new_measurement_button" onclick="commit_new_measurement_form()">Submit</button>
            </form>
        </div>
        <div>
            <form class="activity_form no_display" id="add_activity">
                <h3>Track <span class="activity_header"></span>!</h3>
                <span id="no_measure"></span>
                <div id="measure_input1">
                    <span id="input_measure1"></span>: <input class="measurements" type="text" name="measure1" id="add_activity_1" autocomplete="off">
                    <script type="text/javascript">
                        document.getElementById('add_activity_1').onkeyup = function(e) {
                            input_str = document.getElementById('add_activity_1').value.trim();
                            if (input_str == "" || /^\d+$/.test(input_str)) {
                                document.getElementById('measure1_num_only').style.display = "none";
                                if(document.getElementById('measure2_num_only').style.display == '' || document.getElementById('measure2_num_only').style.display == 'none') {
                                    document.getElementById('commit_add_measurement_button').disabled = false;
                                }
                            } else {
                                document.getElementById('measure1_num_only').style.display = "block";
                                document.getElementById('commit_add_measurement_button').disabled = true;
                            }
                        }
                    </script>
                    <div id="measure1_error" class="no_display">
                        You must input a measurement.
                    </div>
                    <div id="measure1_num_only" class="no_display">
                        Numbers only please.
                    </div>
                </div>
                <div id="measure_input2">
                    <span id="input_measure2"></span>: <input class="measurements" type="text" name="measure2" id="add_activity_2" autocomplete="off">
                    <script type="text/javascript">
                        document.getElementById('add_activity_2').onkeyup = function(e) {
                            input_str = document.getElementById('add_activity_2').value.trim();
                            if (input_str == "" || /^\d+$/.test(input_str)) {
                                document.getElementById('measure2_num_only').style.display = "none";
                                if(document.getElementById('measure1_num_only').style.display == '' || document.getElementById('measure1_num_only').style.display == 'none') {
                                    document.getElementById('commit_add_measurement_button').disabled = false;
                                }
                            } else {
                                document.getElementById('measure2_num_only').style.display = "block";
                                document.getElementById('commit_add_measurement_button').disabled = true;
                            }
                        }
                    </script>
                    <div id="measure2_error" class="no_display">
                        You must input a measurement.
                    </div>
                    <div id="measure2_num_only" class="no_display">
                        Numbers only please.
                    </div>
                </div>
                <button type="button" id="commit_add_measurement_button" onclick="commit_add_measurement_form()">Submit</button>
            </form>
            <!--   render 'shared/goal_form'   -->    
        </div>
    </div>
</div>
