<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?" autocomplete="off" value="<%= @startingStr %>">
        <div class="result-area">
            <div id="results"></div>
            <div class="loading-indicator no_display"></div>
        </div>
        <!-- <div id="suggested"></div> -->

        <div id="friends-panel" class="no_display">
            <h4>Friends who also <span class="activity_header"></span></h4>
            <div id="friends-list"></div>
        </div>
    </div>
    <div id="right-panel">
        <div id="graph_box" class="no_display">
            <div id="activity_chart" style="width:760px; height:500px; margin: 0 auto"></div>
            <!-- <h3 class="activity_header"><b></b></h3> -->
        </div>
        <div>
            <form class="activity_form no_display" id="new_activity">
                <h3>Track a new activity!</h3>
                <p>How do you want to measure <span class="activity_header"></span>?</p>
    <!--             <p>Users most commonly store <span class="activity_header"></span> by: lbs.</p> -->
                <p>If you don't need to track anything specific about <span class="activity_header"></span>, please leave the field blank.</p>
                <input class="measurements" type="text" name="measure1" placeholder="first measurement" autocomplete="off"><br>
                <input class="measurements no_display" type="text" name="measure2" id="second_measurement" placeholder="second measurement" autocomplete="off">
                <button type="button" id="add_new_measurement_button" onclick="add_measurement_form()">Add Another Measurement</button>
                <button type="button" id="commit_new_measurement_button" onclick="commit_new_measurement_form()">Submit</button>
            </form>
        </div>
        <div>
            <form class="activity_form no_display" id="add_activity">
                <h3>Track <span class="activity_header"></span>!</h3>
                <span id="no_measure"></span>
                <div id="measure_input1">
                    <span id="input_measure1"></span>: <input class="measurements" type="text" name="measure1" id="add_activity_1" autocomplete="off">
                    <div id="measure1_error" class="no_display">
                        You must input a measurement.
                    </div>
                    <div id="measure1_num_only" class="no_display">
                        Numbers only please.
                    </div>
                </div>
                <div id="measure_input2">
                    <span id="input_measure2"></span>: <input class="measurements" type="text" name="measure2" id="add_activity_2" autocomplete="off">
                    <div id="measure2_error" class="no_display">
                        You must input a measurement.
                    </div>
                    <div id="measure2_num_only" class="no_display">
                        Numbers only please.
                    </div>
                </div>
                <button type="button" id="commit_add_measurement_button" onclick="commit_add_measurement_form()">Submit</button>
            </form>
            <!--   render 'shared/goal_form'   -->    
        </div>
        <%= render 'shared/goal_form' %>
        <%= render 'shared/comment_area' %>
    </div>
</div>
