<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity do you want to track?" onkeyup="search();">
        <div id="friends-panel" class="hidden">
            <h4>Friends who also <span id="friends-header">""</span></h4>
            <ul id="friends-list">
                <li><a href="#">Friend 1</a></li>
                <li><a href="#">Friend 2</a></li>
                <li><a href="#">Friend 3</a></li>
            </ul>
        </div>
    </div>
    <div id="right-panel" class="hidden">
        <div id="graph">
            <img src="http://www.ebrueggeman.com/sites/www.ebrueggeman.com/files/images/example_graph_1.png" alt="sample-graph">
            <h3 id="graph-header"><b>""</b></h3>
        </div>
        <div>
            <form class="activity-form">
                <h3>Form 1</h3>
                <p>How do you want to record this activity?</p>
                <p>Users most commonly stroe it by: lbs.</p>
                <input class="measurements" type="text" name="measure1" value="lbs."><br>
            </form>

            <form class="activity-form hidden">
                <h3>Form 2</h3>
                Measurement 1: <input class="measurements" type="text" name="measure1" placeholder="125lbs."><br>
                Measurement 2: <input class="measurements" type="text" name="measure2" placeholder="300pgs"><br>
                <input type="submit" value="Add +">
            </form>
        </div>
    </div>
</div>
</body>
