<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?" onkeyup="search();">
        <div id="friends-panel">
            <h4>Friends who also <span id="friends-header">_____</span></h4>
            <ul id="friends-list">
                <li><a href="#">Friend 1</a></li>
                <li><a href="#">Friend 2</a></li>
                <li><a href="#">Friend 3</a></li>
            </ul>
        </div>
    </div>
    <div id="right-panel">
        <div id="graph">
            <img src="http://www.ebrueggeman.com/sites/www.ebrueggeman.com/files/images/example_graph_1.png" alt="sample-graph">
            <h3 id="graph-header"><b>_______</b></h3>
        </div>
        <div>
            <form id="add-activity">
                Measurement 1: <input class="measurements" type="text" name="measure1" placeholder="125lbs."><br>
                Measurement 2: <input class="measurements" type="text" name="measure2" placeholder="300pgs"><br>
                <input type="submit" value="Add +">
            </form>
        </div>
    </div>
</div>
</body>
