<div class = "activities-header">
	  <h1>My Activities</h1>
</div>
<div id="content">
    <div>
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?" autocomplete="off" value="<%= @startingStr %>">
        <div class="result-area">
            <div id="results"></div>
            <div class="loading-indicator no_display"></div>
        </div>
        <div id="graph_box" class="no_display">
            <div id="activity_chart" style="width:760px; height:500px; margin: 0 auto"></div>
        </div>
        <div>
            <form class="activity_form no_display" id="new_activity">
                <hr>
                <h3>Track a new activity!</h3>
                <hr>
                <p>How do you want to measure <span class="activity_header"></span>?</p>
                <p>If you don't need to track anything specific about <span class="activity_header"></span>, please leave the field blank.</p>
                <input class="measurements" type="text" name="measure1" placeholder="first measurement" autocomplete="off"><br>
                <input class="measurements no_display" type="text" name="measure2" id="second_measurement" placeholder="second measurement" autocomplete="off">
                <button type="button" class="secondary-button" id="add_new_measurement_button" onclick="add_measurement_form()">Add Another Measurement</button>
                <button type="button" class="secondary-button" id="commit_new_measurement_button" onclick="commit_new_measurement_form()">Submit</button>
            </form>
        </div>
        <div>
            <form class="activity_form no_display" id="add_activity">
                <hr>
                <h3>Track <span class="activity_header"></span>!</h3>
                <hr>
                <span id="no_measure"></span>
                <div id="measure_input1">
                    <span id="input_measure1"></span>: <input class="measurements" type="text" name="measure1" id="add_activity_1" autocomplete="off">
                    <div id="measure1_error" class="no_display form-error-message">
                        You must input a measurement.
                    </div>
                    <div id="measure1_num_only" class="no_display form-error-message">
                        Numbers only please.
                    </div>
                </div>
                <div id="measure_input2">
                    <span id="input_measure2"></span>: <input class="measurements" type="text" name="measure2" id="add_activity_2" autocomplete="off">
                    <div id="measure2_error" class="no_display form-error-message">
                        You must input a measurement.
                    </div>
                    <div id="measure2_num_only" class="no_display form-error-message">
                        Numbers only please.
                    </div>
                </div>
                <button type="button" class="secondary-button" id="commit_add_measurement_button" onclick="commit_add_measurement_form()">Submit</button>
            </form>
        </div>
        <div>
            <form class="activity_form no_display" id="challenge_form">
                <hr>
                <h3>Challenge a friend to <span class="activity_header"></span>!</h3>
                <hr>
                <input type="text" name="friends" placeholder="Pick a friend" autocomplete="off" id="friends_search"><br>
                <div id="friends_for_challenge_list"></div>
                <br>
                <input type="text" name="message" placeholder="Message for challenge." autocomplete="off" id="challenge_message"><br>
                <div id="challenge_no_message_error" class="no_display form-error-message">
                    You must specify a message for each challenge.
                </div>
                <button type="button" class="secondary-button" id="commit_challenge_button" onclick="commit_challenge_form()">Submit</button>
            </form>
        </div>
        <%= render 'shared/goal_form' %>
        <div id="comment_system" class="no_display">
            <hr>
            <h3>Comments for Activity</h3>
            <hr>
        </div>
    </div>
</div>

<style>
    #search, #friends_search, #challenge_message {
        border: 5px solid white; 
        -webkit-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        -moz-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        padding: 15px;
        width: 300px;
        background: rgba(255,255,255,0.5);
        margin: 0 0 10px 0;
    }

    .activity_form input[type=text] {
        border: 2px solid white; 
        -webkit-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        -moz-box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        box-shadow: 
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1); 
        padding: 3px;
        width: 150px;
        background: rgba(255,255,255,0.5);
        margin: 0 0 15px 0;
    }

    .activity_form h3,
    .goal-area h3,
    #comment_system h3 {
      color: #ff9933;
      font-weight: bold;
    }

    hr {
        height:1px;
        background-color:#ff9933;
        border:none;
    }

    .friend_result, .result {
        border-style: solid;
        border-color: #ff9933;
        border-width: 1px;
        padding-left: 15px;
        width: 300px;
    }

    .friend_result:hover, .result:hover, #create_activity_div:hover {
        display: block;
        background-color: #cc6600;
        color: #fff;
        cursor: pointer;
    }

    #create_activity_div {
        border-style: solid;
        border-color: #ff9933;
        background-color: #eee;
        border-width: 1px;
        padding-left: 15px;
        width: 300px;
    }

    .add_comment_button {
        background-color:#57A957;
        color:white;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        font-size: large;
        border-color: white;
        padding: 10px;
        margin-bottom: 20px;
    }

    .up_comment,
    .up_response {
        background-color: LightGreen;
    }

    .down_comment,
    .down_response {
        background-color: Tomato;
    }

    .up_comment, .down_comment,
    .up_response, .down_response {
        color:white;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        font-size: medium;
        border-color: white;
        padding: 5px;
    }

    .comment_box {
        margin-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: solid;
        border-bottom-width: 1px;
    }
</style> 
