<div id="content">
    <div id="left-panel">
        <input id="search" type="text" name="activity" placeholder="What activity did you just do?">
        <div id="friends-panel">
            <h4 id="friends-header">Friends who also ACTIVITY</h4>
            <ul id="friends-list">
                <li><a href="#">Friend 1</a></li>
                <li><a href="#">Friend 2</a></li>
                <li><a href="#">Friend 3</a></li>
            </ul>
        </div>
    </div>
    <div id="right-panel">
        <div id="graph">
            <img src="graph.jpg" alt="sample-graph">
            <h3 class="activity-title">ACTIVITY</h3>
        </div>
        <div>
            <form id="add-activity">
                Measurement 1: <input class="measurements" type="text" name="measure1" placeholder="125lbs."><br>
                Measurement 2: <input class="measurements" type="text" name="measure2" placeholder="300pgs"><br>
                <input type="submit" value="Add +">
            </form>
        </div>
    </div>
</div>
</body>
