<script>
  $(document).ready(function() {
    $('#logout').click(function(e) {
      alert('logging out');
      //window.location.replace("/signout");
      $.ajax({
        url: "signout"
      });
    });
  });
</script>

<div class="wrapper">
  
  <header>
    <div class="container clearfix">
      <div class="logo">
        <a href="#">
          <img src="" alt="HapApp">
        </a>
      </div><!-- /.logo -->
      <nav class="primary-nav">
        <ul>
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/profile/<%= @user.username %>">Profile</a></li>
          <li><a href="#">Challenge</a></li>
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="" id="logout">Log Out</a></li>
        </ul>
      </nav><!-- /nav -->
    </div><!-- /.container -->
  </header>

  <main>
    <div class="container">
      <h1>Welcome, <%= @user.first_name %>!</h1>
      
      <section>
        <h2>Happiness Question</h2>
        <hr>
        <%= render 'shared/happiness_question' %>
      </section><!-- section -->
      
      <section>
        <h2>News Feed</h2>
        <hr>
        <article>
          <h3>Story 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
        </article><!-- /article -->
        <article>
          <h3>Story 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
        </article><!-- /article -->
        <article>
          <h3>Story 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
        </article><!-- /article -->

        <button>Load More News</button>
      </section><!-- /section -->
    </div><!-- /.container -->
  </main><!-- /main -->

  <footer>
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Challenge</a></li>
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </nav><!-- /nav -->
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Other Info?</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </nav><!-- /nav -->
      <div class="copyright">
        <small>&copy; 2014, HapApp</small>
      </div>
    </div><!-- /.container -->
  </footer><!-- /footer -->

</div><!-- /.wrapper -->