<script>
  $(document).ready(function() {
    $('#logout').click(function(e) {
      alert('logging out');
      //window.location.replace("/signout");
      $.ajax({
        url: "signout"
      });
    });
  });
</script>

<div class="wrapper">
  
  <header>
    <div class="logo">
      <a href="#">
        <img src="" alt="Title">
      </a>
    </div><!-- /.logo -->
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Challenge</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="" id="logout">Log Out</a></li>
      </ul>
    </nav><!-- /nav -->
  </header>

  <main>
    <section>
      <h1>Welcome Home, <%= @user.first_name %></h1>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, facere, rem, nihil, nemo voluptatum laborum dolores id tempora veniam in consequatur fuga minima dignissimos! Quam, repudiandae dolore laudantium ex nam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, dignissimos, sint soluta architecto ea neque repellat nihil perspiciatis fugiat. Ducimus consequuntur eius quis enim sapiente non reiciendis illum molestiae possimus.</p>
    </section><!-- /section -->
    
    <section>
      <h2>Happiness Question</h2>
      <hr>
      <%= render 'shared/happiness_question' %>
    </section>
    
    <section>
      <h2>News Feed</h2>
      <hr>
      <article>
        <h3>Story 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
      </article><!-- /article -->
      <article>
        <h3>Story 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
      </article><!-- /article -->
      <article>
        <h3>Story 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
      </article><!-- /article -->

      <button>Load More News</button>
    </section><!-- /section -->
  </main><!-- /main -->

  <footer>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Challenge</a></li>
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </nav><!-- /nav -->
    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Other Info?</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </nav><!-- /nav -->
    <div class="copyright">
      <small>&copy; 2014, HapApp</small>
    </div>
  </footer><!-- /footer -->

</div><!-- /.wrapper -->