<h1>Welcome, <%= @user.first_name %>!</h1>

<section>
  <h2>Happiness Question</h2>
  <hr>
  <%= render 'shared/happiness_question' %>
</section><!-- section -->

<section>
  <h2>News Feed</h2>
  <hr>
  <article>
    <h3>Story 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
  </article><!-- /article -->
  <article>
    <h3>Story 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
  </article><!-- /article -->
  <article>
    <h3>Story 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, rem, debitis, sunt dolores aliquam veritatis laudantium cupiditate dolor ullam id laboriosam quas quisquam officiis tenetur earum at voluptatem velit optio.</p>
  </article><!-- /article -->

  <button>Load More News</button>
</section><!-- /section -->