<div>
    <div class="comment_area">
    <div/>
    <textarea id="new_comment">
    </textarea>
    <button id="add_new_comment">
        Add comment
    </button>
    <button id="show_more_comments">
        Show more comments
    </button>
<div/>
