<div id="comment_system" class="no_display">
    <hr>
    <h3>Comments for Activity</h3>
    <hr>
    <button class="add_text_area add_comment_button" onclick="add_text_area(comment_system)">
        Add comment
    </button>
    <div class="new_text_area">
        <textarea class="new_text">
        </textarea>
        <input type="checkbox" class="anonymous_check" value="anonymous">
            post anonymously
        </input>
        <button class="submit_new_text secondary-button" onclick="submit_new_comment(comment_system)">
            submit
        </button>
    </div>
    <div class="comment_area">
    </div>
    <div class="loading-indicator no_display" id="comment_area_loading_indicator"></div>
    <button id="show_more_comments" class="secondary-button">
        Show more comments
    </button>
</div>
