<h3>Your Happiness Statistics</h3>
<div id="graph">
    <h5>Sample Graphics</h5>
    <img src="http://www.ebrueggeman.com/sites/www.ebrueggeman.com/files/images/example_graph_1.png" alt="sample-graph">
</div>
<a href="/quiz">Take a quiz</a>
