<h1>My Challenges</h1>
<% @challenges.each do |challenge| %>
	<p>Challenge</p>
	<p>ID1: <%= challenge.sender_id %></p>
	<p>ID2: <%= challenge.receiver_id%></p>
	<p>Content: <%= challenge.content %></p>
	<p>Accepted?: <%= challenge.accepted%></p>
<% end %>