<h1>My Challenges</h1>
<ul class="my-challenges">
  <% @challenges.each do |challenge| %>
  <li>
    <p>Challenge</p>
    <p>Content: <%= challenge.content %></p>
    <p>Accepted?: <%= challenge.accepted%></p>
  </li>
  <% end %>
</ul>